.Header {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../images/pattern-bg.png');
  background-repeat: repeat;
  background-size: cover;
}

.Header-title {
  margin-top: 50px;
}

.Header-title h1 {
  margin-bottom: 30px;
  color: white;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 500;
}